
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

::-webkit-scrollbar{
    width: 05px;
}
::-webkit-scrollbar-track{
    background-color: #391D0C;
}
::-webkit-scrollbar-thumb{
    background: #8892b0;
    border-radius: 50px;
}
.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgb(246, 164, 58),
        rgb(134, 62, 21)   
    )!important;
}
.bg-1{
    background-color: #391D0C;
}
.bg-2{
    background-color: #482611;
}
.bg-3{
    background-color: #863E15;
}
.bg-4{
    background-color:#b76c09;
}
.bg-5{
    background-color: #e7890e;
}
.bg-6{
    background-color: #f6a43a;
}
hr{
    color: #391D0C !important ;
}